html {
	max-width: 100vw;
	overflow-x: hidden;
	box-sizing: border-box;
	& * {
		box-sizing: inherit;
	}
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

/*
 * Grid & list styles
 */

   /* button to scroll up */
   #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: transparent; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }


ul {
	& li {
		padding: 0.5em;
		color: $wetAsphalt;
		& a {
			display: block;
			height: 100%;
			padding: 1em;
			background: $clouds;
			color: $wetAsphalt;
			text-decoration: none;
			& h2 {
				font-family: 'Montserrat', arial,  sans-serif;
				font-size: 1.4em;
				font-weight: 700;
				letter-spacing: -0.03em;
				margin-bottom: 0.5em;
			}
			& p {
				color: $asbestos;
				font-family: 'Noto Serif', serif;
				font-weight: bold;
				font-weight: 700;
				font-style: italic;
				line-height: 1.2em;
			}
		}
	}
	

}

/*
 * Other pen styles
 */
body {
	background: #fff;
	font-family: 'Open Sans', arial,  sans-serif;
	font-weight: 400;
}

header {
	padding: 1em;
	background: $midnightBlue;
	& h1 {
		color: $sunflower;
		font-family: 'Montserrat', arial,  sans-serif;
		font-size: 2em;
		font-weight: 700;
		margin-bottom: 0.3em;
	}
	& p {
		color: $clouds;
		font-family: 'Noto Serif', serif;
		font-weight: bold;
		font-weight: 700;
		font-style: italic;
	}
}

.wrapper {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 1em;
}



.footer {
	margin-top: 2em;
	padding: 1em;
	background: $wetAsphalt;
	& p {
		color: $clouds;
		font-weight: bold;
		font-weight: 600;
		margin-bottom: 0.5em;
		& a {
			color: $sunflower;
			text-decoration: none;
		}
	}
}
#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

/* jobs page main content */
  .air-card header, up-c-card header {
    border-bottom: 1px solid #E0E0E0;
}
air-card header, .air-card footer, up-c-card header, up-c-card footer {
  margin: 0 -30px;
  padding: 30px;
  background-color: #F9F9F9;
}
.air-card {
  width: 640px;
  height: auto;
  position: relative;
  background-color: #fff;
  margin: 30px -30px;
  padding: 30px;
  -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
  box-shadow: 0 1px 6px rgba(57,73,76,0.35);
}