/* style.css */

body, html {
    height: 100%;
  }
  
  /* The hero image */
  .hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                    url("tim-mossholder-1555438-unsplash.jpg");
  
  /* Set a specific height */
  height: 50%;
  
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }
  

  
  /* Place text in the middle of the image */
  .hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  }
  .breadcrumb-item
  {
    align-content: center;
  }
  /* align text in a form */
  form
  {
    text-align: center;
  }
  /* align text in a form */
  #categories
  {
    display: grid;
    height: 75px;
    align-content: space-around;
    /* grid-template-columns: auto auto auto; */
    /* grid-gap: 10px; */ 
  }
  .img-fluid
  {
    /* border: 2px solid black; */
    padding: 25px;
    background-repeat: no-repeat;
    background-size: 25% 50%;
  }
  #hiDew
  {
    /* display: grid; */
    height: 125px;
    align-content: space-around;
    text-align: center;
  
  }
  .card{
    display: grid;
    height: 75px;
    align-content: space-around;
  }
  .clients{
    background-color: rgb(249, 249, 249);
    display: grid;
    height: 75px;
    align-content: space-around;
    /* grid-template-columns: auto auto auto; */
    grid-gap: 10px; 
  }
  .btn-primary {
    color:black;
    background-color:transparent;
    border-color: transparent;
}
  /* How it works */
#howItWorks{
    background-color: rgb(249, 249, 249)
}  
.footer-navbar-wrapper {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    margin-top: auto;
    background-color: #222;
  }
    .footer-navbar-wrapper a, .footer-navbar-wrapper p {
      font-family: "Gotham SSm",Helvetica,Arial,sans-serif;
      font-size: 14px;
      color: #656565;
    }
    /* jobs page main content */
 .air-card header, up-c-card header {
    border-bottom: 1px solid #E0E0E0;
 }
 air-card header, .air-card footer, up-c-card header, up-c-card footer {
  margin: 0 -30px;
  padding: 30px;
  background-color: #F9F9F9;
 }
 .air-card {
  width: auto;
  height: auto;
  position: relative;
  background-color: #fff;
  margin: 125px 125px;
  padding: 30px;
  -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
  box-shadow: 0 1px 6px rgba(57,73,76,0.35);
 }
 #modalBody{
    margin: 25px 25px 25px 45px;
 }
 /* hero banner buttons and header text */

.caption {
	width: 100%;
	max-width: 100%;
	position: absolute;
	top: 40%;
	z-index: 1;
}
.caption h3 {
	color: black;
	font-size: 3em;
	font-family: "Oswald", cursive;
	text-transform: uppercase;
  padding-bottom: 2rem;
  z-index: -10;
  margin-left: 30px;
  marging-top: 20px;
}
.row1 {
  margin-left: 20px;
}
.row2 {
  padding-left: 5px;
  margin-left: 50px;
}
/* info for Tanya's media queries for container's col and rows:
XS equals less than  576px;
SM equals between 576px and 768px;
MD equals between 768px and 992 px;
LG is between 992 px and 1200px;
XL is above 1200px;
*/

@media (max-width: 768px) {
	.caption {
    top: 20%;
    margin-left: 35px;
	}
	.caption h3 {
		font-size: 20px;
		font-family: "Oswald", cursive;
		padding-bottom: 1.2rem;
  }
  .containerdev {
    height: 500px;
  }
  .row {
    width: auto;
    height: auto;
    position: relative;
    margin: 5px 5px;
    padding: 10px;
  }
  .air-card {
    width: auto;
    height: auto;
    position: relative;
    background-color: #fff;
    margin: 5px 5px;
    padding: 10px;
}
@media (min-width: 768px, max-width: 992px) {
	.navbar {
		height: auto;
	}
}
@media (min-width: 992px, max-width: 1200px) {
	.navbar {
    height: 300px;
    top: 35%
    margin-left: 50px;
  }
  caption h3 {
    margin-left: 30px;
  }
}
.img-fluid{
    max-width: 100%;
    height: auto; 
}