body, html {
    height: 100%;
  }
 /* HERO BANNER AND TEXT */

.caption {
 width: 100%;
 max-width: 100%;
 position: absolute;
 top: 40%;
 z-index: 1;
}
.caption h3 {
	color: black;
	font-size: 3em;
	font-family: "Oswald", cursive;
	text-transform: uppercase;
  padding-bottom: 2rem;
  z-index: -10;
  margin-left: 30px;
  marging-top: 20px;
}
 /*----NAVIGATION SECTION ---------*/
 #navbar-brand {
   color: green;
   padding-bottom: 0px;
   font-family: Oswald, cursive;
   font-size: 25px;
    text-shadow: -1px grey, 0 1px grey, 1px 0 grey, 0 -1px white;
    text-transform: uppercase;
      padding-bottom: 2rem;
      text-shadow: 0 0 6px grey; /* horizontal-offset vertical-offset 'blur' colour */
    -moz-text-shadow: 0 0 6px white;
    -webkit-text-shadow: 0 0 6px white;
 }
  /* align text in a form */
  form
  {
    text-align: center;
  }
  
  {
    display: grid;
    height: 75px;
    align-content: space-around;
    /* grid-template-columns: auto auto auto; */
    /* grid-gap: 10px; */ 
  }
 
  #hiDew
  {
    /* display: grid; */
    height: 125px;
    align-content: space-around;
    text-align: center;
  
  }
  /*----TITLES OF THE SECTIONS------*/
  h3 {
    font-size: 30px;
    font-family: Oswald, cursive;
    font-weight: bold;
    text-align: center;
  }
  h2 {
    font-size: 20px;
    font-family: Oswald, cursive;
  }
  .card{
    display: grid;
    height: 75px;
    align-content: space-around;
  }
  .clients{
    background-color: rgb(249, 249, 249);
    display: grid;
    height: 75px;
    align-content: space-around;
    /* grid-template-columns: auto auto auto; */
    grid-gap: 10px; 
  }
  .btn-primary {
    color:black;
    background-color:transparent;
    border-color: transparent;
}
  /* How it works */
#howItWorks{
    background-color: rgb(249, 249, 249)
}  
.footer-navbar-wrapper {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    margin-top: auto;
    background-color: rgb(33, 33, 33);
  }
    .footer-navbar-wrapper a, .footer-navbar-wrapper p {
      font-family: "Gotham SSm",Helvetica,Arial,sans-serif;
      font-size: 14px;
      color: #656565;
    }
    /* jobs page main content */
 .air-card header, up-c-card header {
    border-bottom: 1px solid #E0E0E0;
 }
 air-card header, .air-card footer, up-c-card header, up-c-card footer {
  margin: 0 -30px;
  padding: 30px;
  background-color: #F9F9F9;
 }
 .air-card {
  width: auto;
  height: auto;
  position: relative;
  background-color: #fff;
  margin: 125px 125px;
  padding: 30px;
  -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
  box-shadow: 0 1px 6px rgba(57,73,76,0.35);
 }
 #modalBody{
    margin: 25px 25px 25px 45px;
 }

.row1 {
  margin-left: 20px;
}
.row2 {
  padding-left: 5px;
  margin-left: 50px;
}
/* info for Tanya's media queries for container's col and rows:
XS equals less than  576px;
SM equals between 576px and 768px;
MD equals between 768px and 992 px;
LG is between 992 px and 1200px;
XL is above 1200px;
*/

@media (max-width: 768px) {
	.caption {
    top: 20%;
    margin-left: 35px;
	}
	.caption h3 {
		font-size: 20px;
		font-family: "Oswald", cursive;
   color: black;
    font-size: 2.4rem;
    text-shadow: -1px white, 0 1px white, 1px 0 white, 0 -1px white;
    text-transform: uppercase;
      padding-bottom: 2rem;
      text-shadow: 0 0 6px white; /* horizontal-offset vertical-offset 'blur' colour */
    -moz-text-shadow: 0 0 6px white;
    -webkit-text-shadow: 0 0 6px white;
  
  }
  .containerdev {
    height: 500px;
  }
  .row {
    width: auto;
    height: auto;
    position: relative;
    margin: 5px 5px;
    padding: 10px;
  }
  .air-card {
    width: auto;
    height: auto;
    position: relative;
    background-color: #fff;
    margin: 5px 5px;
    padding: 10px;
}
@media (max-width: 500px) {
	.navbar {
		height: auto;
  }
  .img-fluid{
    max-width: 100%;
    height: 300px; 
}
}
@media (min-width: 992px, max-width: 1200px) {
	.navbar {
    height: 300px;
    top: 35%
    margin-left: 50px;
  }
  caption h3 {
    margin-left: 30px;
  }
}
.img-fluid{
    max-width: 100%;
    height: auto; 
}